<div id="chart">
    <h2 class="text-base font-bold text-lg">Процент опрошенных по сравнению с общим числом потребителей</h2>
    <apx-chart
            [series]="chartOptions.series"
            [chart]="chartOptions.chart"
            [labels]="chartOptions.labels"
            [responsive]="chartOptions.responsive"
            [legend]="chartOptions.legend"
            [dataLabels]="chartOptions.dataLabels"
            [annotations]="chartOptions.annotations"
            [plotOptions]="chartOptions.plotOptions"
            [colors]="chartOptions.colors"
    ></apx-chart>
</div>

