<div id="chart">
    <apx-chart
            [series]="chartOptions.series"
            [chart]="chartOptions.chart"
            [stroke]="chartOptions.stroke"
            [dataLabels]="chartOptions.dataLabels"
            [tooltip]="chartOptions.dataLabels"
            [grid]="chartOptions.grid"
            [yaxis]="chartOptions.yaxes"
            [xaxis]="chartOptions.xaxis"
            [plotOptions]="chartOptions.plotOptions"
            [legend]="chartOptions.legend"
    ></apx-chart>
</div>
