<div class="group flex flex-row relative textarea-row">
    <div [ngClass]="labelPositionRight ? 'font-bold text-right pr-2': 'font-bold'" [ngStyle]="{'width':widthLabel+'%'}" *ngIf="label">
        {{ label | transloco}} <span *ngIf="required" style="color: red">*</span>
    </div>
    <mat-form-field  [ngStyle]="label?{'width':(100-widthLabel)+'%'} : { 'width':'100%' }" [ngClass]="{'readonly-bg-color' : readonly}">
        <textarea
                [rows]="rows"
                [id]="color"
                matInput
                [placeholder]="placeholder"
                [maxlength] = "maxLength"
                [(ngModel)]="value"
                [readonly]="readonly"
                [disabled]="disabled"
                (keypress)="!allowCrl ? checkLatin($event) :null"
                (input)="onTextareaChange(value)"
        ></textarea>
        <span *ngIf="value?.length && !disabled && !readonly && showClearIcon" (click)="toNull($event)" class="flex items-center py-2 bg-white" matSuffix
              mat-icon-button>
            <mat-icon class="font-black text-black">close</mat-icon>
        </span>
    </mat-form-field>
    <div class="invisible group-hover:visible" *ngIf="showError" error-popover>
        {{errorMessage}}
    </div>
</div>
