<div class="flex flex-auto px-4 md:pl-8 bg-blue-700 dark:bg-gray-700 gap-1">
    <div class="relative flex grow items-center w-full h-7 text-white">
        <fuse-horizontal-navigation
                class="-mx-4"
                [name]="'breadCrumbs'"
                [navigation]="breadCrumbsNavigation"></fuse-horizontal-navigation>
    </div>
    <het-button class="flex-none" [icon]="'keyboard_arrow_left'" [label]="'GENERAL.BACK'" (btnClick)="goBack()"></het-button>
    <het-button class="flex-none" [icon]="'logout'" [label]="'GENERAL.EXIT'" (btnClick)="logout()"></het-button>
</div>
