<div class="hel-select-row" [ngClass]="styles">
    <ng-container *ngFor="let field of fields; let i = index">
        <div class="flex flex-row items-center w-full" *ngIf="field.type === 'input' && field.isPrimary">
            <mat-label class="font-bold" *ngIf="field.label" [ngStyle]="{'width':labelWidth+'%'}">
                {{ field.label | transloco}} <span style="color: red" *ngIf="required">*</span>
            </mat-label>
            <mat-form-field [ngStyle]="field.label ? {'width':(100-labelWidth)+'%'} : { 'width':'100%' }"
                            [ngClass]="{'errorInput' : showError}">
                <input type="text"
                       [disabled]="disabled"
                       autocomplete="off"
                       matInput
                       [matTooltip]="errorMessage ? errorMessage : null"
                       matTooltipPosition="above"
                       matTooltipClass="matTooltipForSelect"
                       [value]="values[i]"
                       [name]="field.name"
                       required="false"
                       (click)="field.isClickable && onFocus()"
                       [required]="required"
                       readonly
                >
                <mat-icon *ngIf="field.isClickable" class="mat-icon-rtl-mirror -mr-2">arrow_drop_down</mat-icon>
            </mat-form-field>
        </div>
    </ng-container>
</div>


