<ng-container>
    <div class="group hel-select-row flex flex-row items-center relative" [ngClass]="computedClasses()">
        <div [ngClass]="labelPositionRight ? 'het-select__title font-bold text-right pr-2': 'het-select__title font-bold'" [ngStyle]="{'width':widthLabel+'%'}" *ngIf="label">
            {{ label | transloco}} <span *ngIf="required">*</span>
        </div>

        <mat-form-field
                appearance="fill"
                [ngStyle]="label?{'width':(widthInput-widthLabel) + '%'} : { 'width':'100%' }"
                [ngClass]="{'mat-select-readonly': readonly}">
            <mat-select
                    #matRef
                    [id]="color"
                    [placeholder]="placeholder"
                    [(ngModel)]="value"
                    (selectionChange)="onSelectChange(value)"
                    [disabled]="disabled"
                    [ngClass]="{'mat-select-readonly': readonly}">
                <mat-option
                        aria-disabled="true"
                        [ngClass]="{'mat-select-readonly': readonly}"
                        [value]="item.id"
                        *ngFor="let item of options">{{item.name | transloco}}</mat-option>
            </mat-select>

            <span *ngIf="value != null && !readonly && showClearIcon" (click)="toNull($event)" class="absolute inset-y-0 right-2 flex items-center py-2 bg-white" matSuffix mat-icon-button>
                <mat-icon class="font-black text-black">close</mat-icon>
            </span>
            <div *ngIf="value === null" class="pointer-events-none absolute inset-y-0 right-0 flex items-center">
                <mat-icon svgIcon="arrow_drop_down"></mat-icon>
            </div>
        </mat-form-field>
        <div class="invisible group-hover:visible" *ngIf="showError" error-popover>
            {{errorMessage}}
        </div>
    </div>
</ng-container>
