<div class="group checkbox-section flex items-center">
    <div [ngClass]="labelPositionRight ? 'flex text-right pr-2': 'flex'" [ngStyle]="{'width': widthLabel + '%'}">
        <div  class="font-bold" [ngClass]="{'textWarnColor': showError}">{{label | transloco}}</div>
        <div  class="font-bold" style="color: red" *ngIf="required">* </div>
    </div>
    <mat-checkbox
            [(ngModel)]="value" (change)="onSelectionChange(value)"
            [ngStyle]="label?{'width':(100-widthLabel)+'%'} : { 'width':'100%' }"
            [ngClass]="{'colorRed': showError}"
            [disabled]="disabled"
            [required]="required"
            [disableRipple]="true"
            class="font-bold">
    </mat-checkbox>
    <div class="invisible group-hover:visible" *ngIf="showError" error-popover>
        {{errorMessage}}
    </div>
</div>
