<div id="chart">
    <apx-chart
            [series]="chartOptions.series"
            [chart]="chartOptions.chart"
            [labels]="chartOptions.labels"
            [title]="chartOptions.title"
            [theme]="chartOptions.theme"
            [fill]="chartOptions.fill"
            [yaxis]="chartOptions.yaxis"
            [xaxis]="chartOptions.xaxis"
            [stroke]="chartOptions.stroke"
            [legend]="chartOptions.legend"
            [plotOptions]="chartOptions.plotOptions"
            [tooltip]="chartOptions.tooltip"
            [grid]="chartOptions.grid"
            [dataLabels]="chartOptions.dataLabels"
    ></apx-chart>
</div>
