<div class="">
    <div mat-dialog-title
         cdkDrag
         cdkDragRootElement=".cdk-overlay-pane"
         cdkDragHandle class="flex items-center justify-center border-b rounded-t dark:border-gray-600 het-modal-header">
        <h3  class="text-xl text-center font-semibold text-gray-900 dark:text-white">
            {{title | transloco}}
        </h3>
    </div>
    <mat-dialog-content class="mat-typography px-4 p-0 mt-4">
        <ng-template appHost ></ng-template>
    </mat-dialog-content>
</div>
