<div id="chart">
    <apx-chart
            [series]="chartOptions.series"
            [chart]="chartOptions.chart"
            [dataLabels]="chartOptions.dataLabels"
            [plotOptions]="chartOptions.plotOptions"
            [fill]="chartOptions.fill"
            [stroke]="chartOptions.stroke"
            [tooltip]="chartOptions.tooltip"
            [states]="chartOptions.states"
            [legend]="chartOptions.legend"
            [labels]="chartOptions.labels"
            [annotations]="chartOptions.annotations"
    ></apx-chart>
</div>