<div class="group hel-select-row flex flex-row items-center relative">
    <mat-label [ngClass]="labelPositionRight ? 'font-bold text-right pr-2': 'font-bold'" [ngStyle]="{'width': widthLabel + '%'}" *ngIf="label">
        {{label | transloco}} <span *ngIf="required" style="color: red">*</span>
    </mat-label>

    <mat-form-field [ngStyle]="label?{'width':(widthInput-widthLabel)+'%'} : { 'width':'100%' }" [ngClass]="{'errorInput' : showError, 'readonly-bg-color' : readonly}">
        <input
                matInput
                (focusout)="onTouch()"
                [(ngModel)]="value"
                (input)="valueChange(value)"
                [placeholder]="placeholder"
                [type]="getInputType()"
                thousandSeparator=" "
                mask="separator.2"
                [separatorLimit]="generateLimit()"
                [dropSpecialCharacters]="false"
                [readonly]="readonly"
                [disabled]="disabled"
                (keydown)="onKeyDown($event)"
                (select)="onTextSelect($event)"
        >
        <mat-icon *ngIf="svgIcon"
                  class="icon-size-5"
                  matPrefix
                  [svgIcon]="svgIcon">
        </mat-icon>
        <span *ngIf="inputType !== 'password' && value?.length && !disabled && !readonly" (click)="toNull($event)" class="flex items-center py-2 bg-white clear-btn" matSuffix
              mat-icon-button>
            <mat-icon class="font-black text-black">close</mat-icon>
        </span>

        <span *ngIf="inputType === 'password'"  (click)="togglePasswordType()" class="flex items-center py-2 bg-white clear-btn" matSuffix
              mat-icon-button>
            <mat-icon class="font-black text-black">{{(passwordType == 'password' ? 'visibility' : 'visibility_off')}}</mat-icon>
        </span>
    </mat-form-field>
    <div class="invisible group-hover:visible" *ngIf="showError" error-popover>
        {{errorMessage}}
    </div>
</div>
